.horizontal-carousel {
    display: flex;
    gap: 1rem; /* espaço entre os cards */
    overflow-x: auto; /* permite scroll horizontal */
    padding-bottom: 0.5rem;
}

    .horizontal-carousel::-webkit-scrollbar {
        height: 8px; /* altura da barra de rolagem */
    }

    .horizontal-carousel::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.3);
        border-radius: 4px;
    }
