#sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 10px;
    position: fixed;
    top: 56px; /* altura do navheader */
    bottom: 0;
    overflow-y: auto;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1030; /* garante que fique sobre o conteúdo */
}

    #sidebar.collapsed {
        width: 80px;
    }

    #sidebar .nav-link {
        font-size: 18px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s;
    }

        #sidebar .nav-link:hover {
            background-color: #e2e6ea;
        }

        #sidebar .nav-link.active {
            background-color: #d6d9db;
            color: #000;
        }

    #sidebar.collapsed .nav-link {
        justify-content: center;
        font-size: 24px;
    }

        #sidebar.collapsed .nav-link span {
            display: none;
        }

    #sidebar .nav-link i {
        margin-right: 10px;
    }

#content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 56px;
    transition: margin-left 0.3s;
}

    #content.collapsed {
        margin-left: 80px;
    }

.toggle-sidebar {
    cursor: pointer;
    padding: 10px;
}

#sidebar .nav-link[aria-expanded="true"],
#sidebar .nav-link.active {
    color: #0d6efd; /* mesma cor dos links ativos do menu */
    background-color: transparent;
}

