html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*summary das telas defs create, edit ellipse details*/
.summary-header {
    display: list-item !important; /* mantém o triângulo */
    list-style-position: inside; /* deixa o triângulo dentro da borda */
}
    summary.d-flex {
        display: list-item !important;
    }

.summary-title {
    font-weight: 600;
    font-size: 1.25rem;
    align-items: center;
}

/*fim bdo css defs summarys*/

/*inicio css loading*/
.loading-local {
    display: none; /* Começa invisível */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0d6efd;
    z-index: 10;
    backdrop-filter: blur(2px);
}

.card.position-relative {
    position: relative; /* Necessário para overlay */
}
/*fim css loading*/